# Data for Different Pavement Segments

Factors to Consider for Maintenance Prediction:

Pavement Condition Metrics: Factors such as pavement distress indicators (e.g., cracking, rutting, potholes), surface roughness, and structural integrity are essential for assessing pavement condition.

Traffic Loadings: The volume and type of traffic (e.g., passenger vehicles, trucks) impact pavement deterioration rates. Higher traffic volumes and heavier vehicles contribute to faster pavement degradation.

Weather Conditions: Environmental factors such as temperature, precipitation, humidity, and freeze-thaw cycles affect pavement performance. Extreme weather events can accelerate pavement deterioration.

Geographic Location: Pavement performance varies depending on geographic location, soil type, and climate zone. Factors such as elevation, proximity to coastlines, and exposure to sunlight influence pavement degradation rates.

Maintenance History: Historical maintenance records provide valuable insights into past maintenance activities, pavement condition assessments, and maintenance intervals. Analyzing maintenance history helps identify recurring maintenance patterns and prioritize future maintenance needs.

In [66]:
import pandas as pd
import numpy as np

# Define parameters
num_segments = 100  # Number of pavement segments

# Generate random increasing dummy data for pavement condition metrics
np.random.seed(42)  # Set seed for reproducibility
cracking_severity = np.sort(np.random.randint(0, 90, size=num_segments))  # Random values between 0 and 100
rut_depth = np.round(np.sort(np.random.uniform(0, 10, size=num_segments)),2)  # Random values between 0 and 10
pothole_density = np.round(np.sort(np.random.uniform(0, 1, size=num_segments)),2)  # Random values between 0 and 1
surface_roughness = np.round(np.sort(np.random.uniform(0, 100, size=num_segments)),2)  # Random values between 0 and 100

# Create DataFrame to store the generated data
pavement_condition_data = pd.DataFrame({
    'Cracking Severity(%)': cracking_severity,
    'Rut Depth (mm)': rut_depth,
    'Pothole Density': pothole_density,
    'Surface Roughness (IRI)': surface_roughness
})

pavement_condition_data.insert(0, 'SN', pavement_condition_data.reset_index().index + 1)
# Display the first few rows of the generated data
pavement_condition_data.head()

,SN,Cracking Severity(%),Rut Depth (mm),Pothole Density,Surface Roughness (IRI)
0,1,1,0.01,0.02,0.52
1,2,1,0.14,0.04,1.53
2,3,1,0.16,0.07,1.72
3,4,1,0.33,0.08,2.76
4,5,2,0.40,0.10,3.88

In [67]:
pavement_condition_data.tail()

,SN,Cracking Severity(%),Rut Depth (mm),Pothole Density,Surface Roughness (IRI)
95,96,88,9.43,0.98,94.91
96,97,88,9.72,0.98,96.53
97,98,88,9.77,0.99,96.95
98,99,89,9.83,0.99,97.95
99,100,89,9.98,1.00,98.18

In [68]:
# Define parameters
num_segments = 100  # Number of pavement segments

# Generate random dummy data for traffic loadings
np.random.seed(42)  # Set seed for reproducibility
traffic_volume = np.random.randint(100, 10000, size=num_segments)  # Random values between 100 and 10000
truck_percentage = np.round(np.random.uniform(0, 1, size=num_segments),2)  # Random values between 0 and 1 representing percentage of trucks

# Create DataFrame to store the generated data
traffic_data = pd.DataFrame({
    'Traffic Volume': traffic_volume,
    'Truck Percentage': truck_percentage
})
traffic_data.insert(0, 'SN', traffic_data.reset_index().index + 1)
# Display the first few rows of the generated data
traffic_data.head()

   SN  Traffic Volume  Truck Percentage
0   1            7370              0.86
1   2             960              0.62
2   3            5490              0.33
3   4            5291              0.06
4   5            5834              0.31

In [69]:
# Merge pavement_condition_data and traffic_data
pavement_data = pd.merge(pavement_condition_data, traffic_data, on='SN', how='inner')

# Display the first few rows of the merged DataFrame
pavement_data.head()

,SN,Cracking Severity(%),Rut Depth (mm),Pothole Density,Surface Roughness (IRI),Traffic Volume,Truck Percentage
0,1,1,0.01,0.02,0.52,7370,0.86
1,2,1,0.14,0.04,1.53,960,0.62
2,3,1,0.16,0.07,1.72,5490,0.33
3,4,1,0.33,0.08,2.76,5291,0.06
4,5,2,0.40,0.10,3.88,5834,0.31

In [70]:
# Generate random dummy data for weather conditions
weather_data = pd.DataFrame({
    'SN': np.arange(1, num_segments + 1),  # Assuming SN starts from 1 and goes up to num_segments
    'Temperature (C)': np.random.randint(0, 40, size=num_segments),  # Random values between -20 and 40 (degrees Celsius)
    'Precipitation (mm)': np.round(np.random.uniform(0, 20, size=num_segments),2),  # Random values between 0 and 20 (mm)
    'Humidity (%)': np.round(np.random.uniform(0, 100, size=num_segments), 2),  # Rounded to two decimal places
    'Wind Speed (km/h)': np.round(np.random.uniform(0, 50, size=num_segments), 2)  # Rounded to two decimal places
})
# Display the first few rows of the merged DataFrame
weather_data.head()

   SN  Temperature (C)  Precipitation (mm)  Humidity (%)  Wind Speed (km/h)
0   1               27                6.45         62.59              20.01
1   2               24               16.97         82.04              23.89
2   3               22                2.73         65.15               4.14
3   4               30               14.18         20.67              26.42
4   5               29               11.06         27.40              21.82

In [76]:
# Merge pavement_data and weather_data
new_pavement_data = pd.merge(pavement_data, weather_data, on='SN', how='inner')
new_pavement_data.head()

,SN,Cracking Severity(%),Rut Depth (mm),Pothole Density,Surface Roughness (IRI),Traffic Volume,Truck Percentage,Temperature (C),Precipitation (mm),Humidity (%),Wind Speed (km/h)
0,1,1,0.01,0.02,0.52,7370,0.86,27,6.45,62.59,20.01
1,2,1,0.14,0.04,1.53,960,0.62,24,16.97,82.04,23.89
2,3,1,0.16,0.07,1.72,5490,0.33,22,2.73,65.15,4.14
3,4,1,0.33,0.08,2.76,5291,0.06,30,14.18,20.67,26.42
4,5,2,0.40,0.10,3.88,5834,0.31,29,11.06,27.40,21.82

In [78]:
# Generate random dummy data for geographic location
geographic_data = pd.DataFrame({
    'SN': np.arange(1, num_segments + 1),  # Assuming SN starts from 1 and goes up to num_segments
    'Soil Type': np.random.choice(['Sandy', 'Clayey', 'Loamy', 'Rocky', 'Peaty'], size=num_segments),
    'Exposure to Sunlight': np.random.choice(['Low', 'Moderate', 'High'], size=num_segments),
    'Elevation (m)': np.round(np.random.uniform(1000, 2450, size=num_segments), 2),  # Rounded to two decimal places
    'Climate Zone': np.random.choice(['Tropical', 'Temperate', 'Arid', 'Mountainous'], size=num_segments)
})

# Merge pavement_data and geographic_data
pavement_datas = pd.merge(new_pavement_data, geographic_data, on='SN', how='inner')

# Display the first few rows of the merged DataFrame
pavement_datas.head()

,SN,Cracking Severity(%),Rut Depth (mm),Pothole Density,Surface Roughness (IRI),Traffic Volume,Truck Percentage,Temperature (C),Precipitation (mm),Humidity (%),Wind Speed (km/h),Soil Type,Exposure to Sunlight,Elevation (m),Climate Zone
0,1,1,0.01,0.02,0.52,7370,0.86,27,6.45,62.59,20.01,Clayey,Low,1955.60,Arid
1,2,1,0.14,0.04,1.53,960,0.62,24,16.97,82.04,23.89,Peaty,High,2163.09,Arid
2,3,1,0.16,0.07,1.72,5490,0.33,22,2.73,65.15,4.14,Clayey,Low,1152.78,Temperate
3,4,1,0.33,0.08,2.76,5291,0.06,30,14.18,20.67,26.42,Sandy,Moderate,1051.58,Tropical
4,5,2,0.40,0.10,3.88,5834,0.31,29,11.06,27.40,21.82,Peaty,High,1737.44,Mountainous

In [79]:
# Generate random dummy data for material properties
material_data = pd.DataFrame({
    'SN': np.arange(1, num_segments + 1),  # Assuming SN starts from 1 and goes up to num_segments
    'Pavement Material': np.random.choice(['Asphalt', 'Concrete'], size=num_segments),
    'Layer Thickness (mm)': np.round(np.random.uniform(180, 200, size=num_segments), 2),  # Rounded to two decimal places
    'Modulus of Elasticity (MPa)': np.round(np.random.uniform(1000, 5000, size=num_segments), 2)  # Rounded to two decimal places
})

# Merge pavement_data and material_data
new_pavement_datas = pd.merge(pavement_datas, material_data, on='SN', how='inner')

# Display the first few rows of the merged DataFrame
new_pavement_datas.head()

,SN,Cracking Severity(%),Rut Depth (mm),Pothole Density,Surface Roughness (IRI),Traffic Volume,Truck Percentage,Temperature (C),Precipitation (mm),Humidity (%),Wind Speed (km/h),Soil Type,Exposure to Sunlight,Elevation (m),Climate Zone,Pavement Material,Layer Thickness (mm),Modulus of Elasticity (MPa)
0,1,1,0.01,0.02,0.52,7370,0.86,27,6.45,62.59,20.01,Clayey,Low,1955.60,Arid,Asphalt,180.27,2105.77
1,2,1,0.14,0.04,1.53,960,0.62,24,16.97,82.04,23.89,Peaty,High,2163.09,Arid,Concrete,185.65,2249.40
2,3,1,0.16,0.07,1.72,5490,0.33,22,2.73,65.15,4.14,Clayey,Low,1152.78,Temperate,Concrete,180.89,3570.70
3,4,1,0.33,0.08,2.76,5291,0.06,30,14.18,20.67,26.42,Sandy,Moderate,1051.58,Tropical,Asphalt,180.73,1783.36
4,5,2,0.40,0.10,3.88,5834,0.31,29,11.06,27.40,21.82,Peaty,High,1737.44,Mountainous,Asphalt,185.51,4587.83

In [81]:
# Generate random dummy data for maintenance history
maintenance_data = pd.DataFrame({
    'SN': np.arange(1, num_segments + 1),  # Assuming SN starts from 1 and goes up to num_segments
    'Last Maintenance Date': pd.to_datetime(np.random.choice(pd.date_range(start='2015-01-01', end='2022-01-01'), size=num_segments)),  # Random dates between 2015-01-01 and 2022-01-01
    'Maintenance Type': np.random.choice(['Patching', 'Resurfacing', 'Sealing'], size=num_segments),
    'Maintenance Cost ($)': np.random.randint(1000, 10000, size=num_segments)
})

# Merge pavement_data and maintenance_data
final_pavement_data = pd.merge(new_pavement_datas, maintenance_data, on='SN', how='inner')

# Display the first few rows of the merged DataFrame
final_pavement_data.head()

,SN,Cracking Severity(%),Rut Depth (mm),Pothole Density,Surface Roughness (IRI),Traffic Volume,Truck Percentage,Temperature (C),Precipitation (mm),Humidity (%),...,Soil Type,Exposure to Sunlight,Elevation (m),Climate Zone,Pavement Material,Layer Thickness (mm),Modulus of Elasticity (MPa),Last Maintenance Date,Maintenance Type,Maintenance Cost ($)
0,1,1,0.01,0.02,0.52,7370,0.86,27,6.45,62.59,...,Clayey,Low,1955.60,Arid,Asphalt,180.27,2105.77,2020-11-26,Resurfacing,1182
1,2,1,0.14,0.04,1.53,960,0.62,24,16.97,82.04,...,Peaty,High,2163.09,Arid,Concrete,185.65,2249.40,2018-07-25,Patching,8190
2,3,1,0.16,0.07,1.72,5490,0.33,22,2.73,65.15,...,Clayey,Low,1152.78,Temperate,Concrete,180.89,3570.70,2015-03-09,Resurfacing,7687
3,4,1,0.33,0.08,2.76,5291,0.06,30,14.18,20.67,...,Sandy,Moderate,1051.58,Tropical,Asphalt,180.73,1783.36,2021-06-10,Sealing,6565
4,5,2,0.40,0.10,3.88,5834,0.31,29,11.06,27.40,...,Peaty,High,1737.44,Mountainous,Asphalt,185.51,4587.83,2020-04-16,Sealing,8241

In [82]:
# Save the DataFrame to an Excel file
final_pavement_data.to_excel("final_pavement_data.xlsx", index=False)